.dashboard {
  .header {
    margin-top: 32px;

    .search-bar {
      .search-bar__container {
        input {
          border-radius: 50px;
          background: var(--f-7-f-7-f-7, #f7f7f7);
        }

        .btn {
          @apply font-satoshi;

          color: var(--ffffff, #fff);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}
