.custom-table {
  th {
    @apply text-primary;
  }

  img {
    width: 66px;
    height: 66px;
  }

  .sku-row {
    color: var(--162427, #162427);
    font-style: normal;
    font-weight: 500;
  }
}
